<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="Community" android:theme="@style/WatchTheme" android:icon="@drawable/watch_icon" android:allowBackup="false">
        <meta-data android:name="com.google.android.wearable.standalone" android:value="false" />
        <activity android:name=".WatchActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".WatchDataService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/community/" />
            </intent-filter>
        </service>
        <service android:name=".PrayerTileService" android:label="Next prayer" android:exported="true" android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter><action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" /></intent-filter>
            <meta-data android:name="androidx.wear.tiles.PREVIEW" android:resource="@drawable/watch_icon" />
        </service>
    </application>
</manifest>
